@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
}
body{
    background-color: white;
}
nav ul{
    display: flex;
    gap: 40px;
}

nav ul li a{
    font-size: 18px;
}

.Social {
    margin-top: 20px;
}

.Social a {
    font-size: 40px;  
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.Main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    height: 100vh;
    gap: 50px;
}

.Main .content {
    max-width: 50%;
}

.Main h1 {
    font-size: 50px;
}

.Main h2 {
    font-size: 40px;
}

.Main p {
    font-size: 30px;
}

.Logo{
    font-size: 32px;
    font-weight: bold;
}

.gradien-text {
    font-size: 90px;
    font-weight: 700;
    background: linear-gradient(90deg, #0062e3, #00d5ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.profile-image img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);   
}   
@media (max-width: 700px) {
    .Main {
        flex-direction: column;
        text-align: center;
    }

    .Main .content {
        max-width: 100%;
    }

    .profile-image {
        margin-top: 20px;
    }
}
